<html>

<head>
	
	<link rel="stylesheet" type="text/css" href="chess.css">
	
	<script src="jquery.js"></script>
	<script src="angular.js"></script>
	<script src="js/engine.js"></script>
	<script src="js/brandNewAi.js"></script>
	<script src="js/deepening.js"></script>
	<script src="js/classes.js"></script>
	<script src="js/thinker.js"></script>
	
	

	<script>
		
	//thinker stuff
	
		//////////////////////////	cookie stuff	////////////////////////////////////////////////

		function setCookie(cname, cvalue, exdays) {
			
			var d = new Date();
			
			d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
			
			var expires = "expires=" + d.toUTCString();
			
			document.cookie = cname + "=" + cvalue + "; " + expires;
			
		}

		function getCookie(cname) {
			
			var name = cname + "=";
			var ca = document.cookie.split(';');
			
			for (var i = 0; i < ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ') c = c.substring(1);
				if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
			}
			
			return "";
			
		}


		//init cookie vars

		var cookieID = ""
		var workerSpeed = ""
		var mainThreadSpeed = ""
		var rndID=""


		//load cookies

		cookieID = getCookie("myID");
		rndID = getCookie("rndID");
		
		// mainThreadSpeed = Number(getCookie("mainThreadSpeed"));
		// workerSpeed = Number(getCookie("workerSpeed"));
		

		if (workerSpeed == "" || isNaN(workerSpeed)) {

			workerSpeed = 1 //temp val before first test		//should this be 0????
			
		}
		
		var sendID;

		if (cookieID == "") {
			
			if(rndID == ""){
				rndID = ~~(Math.random() * 1000000000000000)
				setCookie("rndID", rndID, 365)
			}
			
			sendID=rndID

			
		} else {
			
			sendID = cookieID
			
		}

		var setID = function(id) {
			
			setCookie("myID", id, 365)
			cookieID = id
			sendID = id

			//should send some rename info to server to rename me!!!!!!!!!!!!!!!!!!!!!


		}
		
		
		
		var setWorkerSpeed = function(count, time) {
			
			var tempSpeed=Number(count) / Number(time)
			
			var percDiff=~~(tempSpeed/Number(workerSpeed)*100)
			
			tempSpeed=(workerSpeed+2*tempSpeed)/3		//average of last few
			
			workerSpeed = tempSpeed
	
			setCookie("workerSpeed", workerSpeed, 365)
			
			return percDiff
				
		}

		var setSpeedCookies = function() {

			setWorkerSpeed(workerSpeed,1)
		
		}

		

		
		
		
		
		ifWorkers(startWorkers)
		
		
		
		
		
	var appModule = angular.module("appModule", []);

	appModule.controller("ApplicationController", ApplicationController);

	function ApplicationController($rootScope, $scope, $timeout, $http, $interval, $compile) {
		
		
		var pollerMessage= function(event){
			
			//console.log('something')
			
			switch (event.data.resCommand){
				
				case undefined:
				
				break;
				
				case 'updateBusyThinkers':
				
			//		console.log(event.data.resData.busyThinkers)
					
					$rootScope.busyThinkers=event.data.resData.busyThinkers
					$scope.$apply()
					$rootScope.updateSizes()
				
				break;
				
				
			}
			
			
		}
		
		var poller={}
		
		ifWorkers(function(){
			
			poller=new Worker('js/poller.js')
			poller.onmessage = pollerMessage
			
			
			
		},function(){
			//no worker support
			
			
			
		})
		
		
		
		
		$rootScope.cookieID=cookieID
		
		$rootScope.setID=function(id){
			
			setID(id)
			
			$rootScope.cookieID=id
			
			
		}
		
		
		
		$scope.setDepth=function(depth){
			$rootScope.depth=depth
		}
		
		$rootScope.updateSizes=function(){
			
			var sw=window.innerWidth
			var sh=window.innerHeight
			
			var sr=sh/sw
			
			if(sr<0.8){
				$rootScope.screenRatio=0
			}else{
				
				if(sr<1.1){
					$rootScope.screenRatio=1
				}else{
					
					if(sr<1.5){
						$rootScope.screenRatio=2
					}else{
						$rootScope.screenRatio=3
					}
					
					
				}
				
			}
			
			
			
			var nw=$('.navvv').width()
			var sbh=$('.statusBox').height()
			
			$('.frame-table').css({'width':nw+'px'});
			$('.frame-table').css({'height':(sh-50)+'px'});
			
			
			
			switch ($rootScope.screenRatio) {
				
				case 0:
				
				$('.leftBar').css({'width':130+'px'});
				
					
					$('.iderakd').css({'height':(1)+'px'});
					$('.iderakd').css({'width':(1)+'px'});
					
					$('.main-table').css({'height':(sh-72)+'px'});
					$('.main-table').css({'width':(sh-72)+'px'});
					
						
					$('.chatCell').css({'width':(sw-sh-90)+'px'});
					$('.chatCell').css({'height':(sh-92)+'px'});
					
					$('.chatInpt').css({'width':(sw-sh-144)+'px'});
					
					$('.moves').css({'height':(sh-sbh-75)+'px'});
				
				break;
				
				case 1:
				
					$('.leftBar').css({'width':230+'px'});
			
		
					
					$('.tableAndChat').css({'width':(nw-241)+'px'});
					
					
					$('.chatCell').css({'width':(nw-214)+'px'});
					$('.chatCell').css({'height':(sh-sw+342)+'px'});
					
					$('.chatInpt').css({'width':(nw-268)+'px'});
					
					
					$('.iderakd').css({'height':(1)+'px'});
					$('.iderakd').css({'width':(1)+'px'});
					
					
					$('.main-table').css({'height':(nw-215)+'px'});
					$('.main-table').css({'width':(nw-215)+'px'});
					
					
					$('.moves').css({'height':(sh-sbh+112)+'px'});
					
					
				
				
				break;
				
				case 2:
				
					$('.leftBar').css({'width':130+'px'});
					
					
					$('.tableAndChat').css({'width':(1)+'px'});
					
					$('.iderakd').css({'height':(1)+'px'});
					$('.iderakd').css({'width':(1)+'px'});
					
					
					
					$('.chatCell').css({'width':(nw-150)+'px'});
					$('.chatCell').css({'height':(sh-nw+42)+'px'});
					
					$('.chatInpt').css({'width':(nw-214)+'px'});
					
					
					
					$('.main-table').css({'height':(nw-150)+'px'});
					$('.main-table').css({'width':(nw-150)+'px'});
					
					$('.moves').css({'height':(sh-sbh-82)+'px'});
					
				
				break;
				
				case 3:
				
					
					
								
					$('.leftBar').css({'height':(sh-nw-68)+'px'});
					
					$('.chatCell').css({'width':(nw-148)+'px'});
					$('.chatInpt').css({'width':(nw-202)+'px'});
					
					
					$('.chatCell').css({'height':(sh-nw    -90)+'px'});
					
					$('.iderakd').css({'height':(1)+'px'});
					$('.iderakd').css({'width':(1)+'px'});
					
					$('.main-table').css({'height':(nw-8)+'px'});
					$('.main-table').css({'width':(nw-8)+'px'});
					
					$('.moves').css({'height':(sh-sbh-nw-73)+'px'});
					
				break;
				
			}
			
		}
		
		window.onresize=function(){
			
			
			//http://stackoverflow.com/questions/14902321/how-to-determine-if-a-resize-event-was-triggered-by-soft-keyboard-in-mobile-brow
			
			
			var t=$(document.activeElement).prop('type')
			if(t === 'text' || t === 'password') {
				// Logic for while keyboard is shown
			} else {
				// Logic for while keyboard is hidden
				
				$timeout($rootScope.updateSizes(),800)
				
				
			}
			
		}
		
		var dletters = ["a","b","c","d","e","f","g","h"]
		
		$scope.inOrOut = 'Login' //displayed on nav when not logged in
		$scope.loggedIn = false
		$scope.lobbyPollNum = 0

		$rootScope.pollNum = -2		//just in case
		
		$rootScope.depth=3
		
		$scope.login = function(user) {
			

			$http.get("/checkUserPwd?n=" + user.name + '&p=' + user.pwd)
				.success(function(response) {
					if(response.exists) {
						if(response.denied) {
							//wrong pwd
							alert("Username and password don't match, please try again!")
						} else {
							//all good, log him in
							//ask server to log user in ang generate unique login ID. this html will poll the server with that unique ID so you can't be logged in from 2 stations

							//alert("User logged in.")
							$scope.loggedIn = true
							$scope.greetUser = 'Logged in as ' + user.name + '. '

							$scope.inOrOut = 'Logoff' //displayed on nav when logged in
							$rootScope.loginName = user.name
							$rootScope.showView('lobby.html')

							if(!$scope.$$phase) {
								$scope.$apply()
							}
						}
					} else {
						//username not in DB
						alert('User not registered, please register first!')
					}

				})

		}
		$scope.askToStart = function(opponentsName) {
			if(opponentsName!=$rootScope.loginName)	$http.get('/startGame?w=' + $rootScope.loginName + "&b=" + opponentsName)

		}

		// 

		$scope.askToWatch = function(gameID) {

			$http.get('/watchGame?v=' + $rootScope.loginName + "&t=" + gameID)

		}
		$scope.applyIt=function(){
			$scope.$apply()
		}
		
		$scope.quickGame=function(){
			
			
			// if(!($scope.lobbyPollNum == response.lobbypollnum)) {

								//////console.log('polling lobby')

							// 	$scope.lobbyChatLines = response.lobbychat
							// 	$scope.players = response.players
							// 	$scope.players.unshift("Fastest thinker")
							// 	$scope.players.unshift("Multiple thinkers")
							// 	$scope.players.unshift("Server")
								
								
							// 	$scope.games = response.games
							// 	$scope.players.sort(function(a, b) {
							// 		return a.toLowerCase().localeCompare(b.toLowerCase());
							// 	});
							// 	$scope.lobbyPollNum = response.lobbyPollNum
							// 		//showLobby(lobbyChatLines, players, games, $scope.lobbyPollNum)
							// 	if(!$scope.$$phase) {
							// 	$scope.$apply()
							// }

					//		}
							// if($scope.openNow) {
								
								$http.get('/startGame?w=' + $rootScope.loginName + "&b=" + 'Multiple thinkers')
								
								
								$rootScope.showView('lobby.html')
								
								// $rootScope._id = response.opentablenum
								// $rootScope.wPlayer = response.opentablecolor
								// $scope.opponentsName = response.opponentsname
								// $rootScope.pollNum = 0

								// $scope.openNow = true;
								
								
								
								// $rootScope.tempMoveString=""
								// $rootScope.viewName = "board.html"
								
							// 	$scope.openNow = false

							// 	// 		window.setTimeout(function() {
							// 	//  $scope.drawTable(true)

							// 	//     $scope.$apply();
							// 	// }, 3000);

							// }
							
							
							
			
			//alert()
			
		}
		
		
		
		$rootScope.longPollTable = function() {

			////console.log('polling table ' + $rootScope._id)

			$http.get('/longPollTable?t=' + $rootScope._id + '&pn=' + $rootScope.pollNum + '&r=' + Math.random())
				.then(function(responseData) {
					var response=responseData.data
					
					//console.log('Data received: '+response.command+' - '+response.message)
					
					if(response._id==$rootScope._id){		//break poll on changed _id
						//$rootScope.table = response.table
						
						if($rootScope.table!=undefined){
							//highlight changed squares
							//var changed=false
							for(var i=0;i<8;i++){
								for (var j=0;j<8;j++){
									var theSame=($rootScope.table[i][j][0]!=response.table[i][j][0])
									$rootScope.table[i][j]=response.table[i][j]
									if(theSame){
										$rootScope.table[i][j][15]=true
										//changed=true
									}
								}
							}
							
						}else{
						// 	//
							//just copy the table
							$rootScope.table = response.table
						}
						$rootScope.tableId=response._id
						$rootScope.wNext = response.wNext
						//$scope.allMoves = response.allMoves				//these are my possible moves now
						$rootScope.chatLines = response.chat
						$rootScope.pollNum=response.pollNum
						$rootScope.moves=response.moves	
						$rootScope.allPastTables=response.allPastTables	
						//$rootScope.moves=response.moves										
	
						// $scope.refreshRecentGames()
						$scope.showTable()
						console.log('showing table, viewName is '+$rootScope.viewName)
						if($rootScope.viewName == "board.html") {			
							console.log('Repeating longpoll on t'+ response._id)			
							$rootScope.longPollTable()	//loop till change view	(or table)
							
							
							$rootScope.updateSizes()
							
							
						}else{
							//console.log('board not displayed (viewName: '+ $rootScope.viewName+'), discontinuing longpoll for table ' + response._id)
							
						}
					}else{
						//console.log('_id changed, discontinuing longpoll for table ' + response._id)
					}
				},function(data){
					$interval($rootScope.longPollTable(),2000)	//retry
				})

		}
		$scope.setTableNum = function(num){
			var oldNum = $rootScope._id
			
			$rootScope._id=num
			$rootScope.pollNum=-1
			
			
			
			//console.log('_id changed, calling new longpoll on t'+ num + ', forcePop on t'+oldNum)
			
			$http.get('/forcePopTable?t='+oldNum+'&p='+$rootScope.loginName+'&m=Went to t'+num)
			$rootScope.longPollTable()
			
			//$scope.refreshTable()
		}
		$scope.refreshRecentGames = function() {

			//////console.log('polling table ' + $rootScope._id)

			// $http.get('/getMyRecentGames?n=' + $rootScope.loginName)
			// 	.success(function(response) {
			// 		$scope.myRecentGames = response.recentgames
			// 		//$scope.$apply()

			// 		//$scope.showTable()

			// 	})				//gets no response
			

		}

		$scope.pollLobby = function() {
			$scope.lobbyPromise = $interval(function() {

				//refreshLobby()
				if($rootScope.viewName == 'lobby.html') {

					$http.get('/getLobby?p=' + $rootScope.loginName)
						.success(function(response) {
							////console.log('polling lobby')
							if(response.asktoopen) {
								////console.log('opening')

								$rootScope._id = response.opentablenum
								$rootScope.wPlayer = response.opentablecolor
								$scope.opponentsName = response.opponentsname
								$rootScope.pollNum = 0

								$scope.openNow = true;

							}

							if(!($scope.lobbyPollNum == response.lobbypollnum)) {

								//////console.log('polling lobby')

								$scope.lobbyChatLines = response.lobbychat
								$scope.players = response.players
								$scope.players.unshift("Fastest thinker")
								$scope.players.unshift("Multiple thinkers")
								$scope.players.unshift("Server")
								
								
								$scope.games = response.games
								$scope.players.sort(function(a, b) {
									return a.toLowerCase().localeCompare(b.toLowerCase());
								});
								$scope.lobbyPollNum = response.lobbyPollNum
									//showLobby(lobbyChatLines, players, games, $scope.lobbyPollNum)
								if(!$scope.$$phase) {
								$scope.$apply()
							}

							}
							if($scope.openNow) {
								$rootScope.tempMoveString=""
								$rootScope.viewName = "board.html"
								
								$scope.openNow = false

								// 		window.setTimeout(function() {
								//  $scope.drawTable(true)

								//     $scope.$apply();
								// }, 3000);

							}

						}) //lobbypoll callback ends here
				} else {
					//itt lehetne mast pollozni
					////console.log($rootScope.tempMoveString)

					// if($rootScope.viewName == 'board.html'&& $rootScope.tempMoveString=="") {
					// 	////console.log('refreshtable called from interval '+ $rootScope.tempMoveString)
					// 	$scope.refreshTable()
						
					// }

				}
			}, 2500); //setinterval stuff ends here

		}

		$scope.pollLobby()

		$scope.clickedItTrans = function(i, j) {
			//alert("called")
			////console.log([i,j,$rootScope.tempMoveString])
			
			var clickedField = [j, 8 - i]
			var clickedString = dletters[j] + (9 - i)

			if(!($scope.opponentsName == "Spectator")) {
				$scope.clickedIt(clickedField, clickedString)
			}
			//	////console.log(clickedField,clickedString)

		}
		
		$scope.makeAMove = function(whatMove) {

		if(!($scope.opponentsName=='Server')){			// temp hack!!!!!
			
			var moveStr=whatMove	//levagni a kepeket...	(mi ut mit)
			//////////////////////
							///replace this!!!
							
				var dbTable={}//new Dbtable($rootScope._id, $rootScope.wName, $rootScope.bName)
				
				//hello Marzenka
				
				dbTable._id=$rootScope._id
				dbTable.wName=$rootScope.wName
				dbTable.bName=$rootScope.bName
				
				
				dbTable.table=$rootScope.table
				dbTable.wNext=$rootScope.wNext
																						//refaktor!!!!!!
				dbTable.moves= $rootScope.moves
				dbTable.pollNum= $rootScope.pollNum
				dbTable.allPastTables= $rootScope.allPastTables
				// dbTable.wName= $rootScope.wName
				// dbTable.bName= $rootScope.bName
				
				$rootScope.lastState= $.extend(true, {}, dbTable)		//remember so we can Oooops!!
				
				
				
				$scope.clearHighlights($rootScope.lastState.table)
				
				dbTable=moveInTable(moveStr,dbTable,false)
				
		
			
			
				if($scope.opponentsName=='Fastest thinker'){
					dbTable.command='makeAiMove'
					dbTable.aiType='fastest thinker'
					
						
				}
				
				if($scope.opponentsName=='Multiple thinkers'){
					dbTable.command='makeAiMove'
					dbTable.aiType='thinkers'
					
					
						
					// dbTable.aiTable=new MoveTask(dbTable)	
				}
			
			
			dbTable._id=$rootScope.tableId
			dbTable.desiredDepth=$rootScope.depth
			
			$http.post('/moved',dbTable,function(req,res){
				$rootScope.table=dbTable.table
				$rootScope.wNext=dbTable.wNext
				$rootScope.moves=dbTable.moves
				
			})
			
		}	else{
		
			$http.get('/move?m=' + whatMove + '&t=' + $rootScope._id)
			
			
		}
			
			
				// .success(function(response) {
				// 	$rootScope.wNext = !$rootScope.wNext
				// 	$rootScope.pollNum-=5
				// 	$scope.refreshTable()
				// 	return response.table

				// })

		}
		
		$rootScope.takeItBack= function(){
			$http.post('/moved',$rootScope.lastState,function(req,res){
				$rootScope.table=$rootScope.lastState.table
				$rootScope.wNext=$rootScope.lastState.wNext
				$rootScope.moves=$rootScope.lastState.moves
				
				//$scope.clearHighlights($rootScope.table)
				
			})
		}

		$scope.refreshTable = function() {

			$http.get('/getTPollNum?t=' + $rootScope._id)
				.success(function(response) {
					////console.log('getting board pollnum: '+response.tablepollnum+" vs "+$rootScope.pollNum)
					if(!(response.tablepollnum == $rootScope.pollNum)) {
						$rootScope.pollNum = response.tablepollnum
						////console.log('calling getandshow')
						$rootScope.longPollTable()
						if(!$scope.$$phase) {
								$scope.$apply()
							}
					}

				})

		}

		$scope.showTable = function() { //this will update the displayed table from the array
			
			//shit i need to rotate it first
		
			var tt=[]
			
			
			if($rootScope.wPlayer){				
				
				for(var i=0; i<8; i++) {
					tt[i]=[]
					for(var j=0; j<8; j++) {
						tt[i][j]=$rootScope.table[j][7-i]
						if((i+j)&1)tt[i][j][7]=true
					}
				}
				
			}else{
				
				for(var i=0; i<8; i++) {
					tt[i]=[]
					for(var j=0; j<8; j++) {
						tt[i][j]=$rootScope.table[7-j][i]
						if((i+j)&1)tt[i][j][7]=true
					}
				}
				
				
				
				
				
				
			}
				
			
			
			
			$rootScope.sTable=tt
			
			//$scope.$apply()
	
		}

		$scope.register = function(user) {

			if(user.pwd1 == user.pwd2) {
				if(!(user.pwd1 == undefined || user.rName == undefined || user.rName == "")) {
					//check if existing, if not then register in db

					$http.get("/checkUser?n=" + user.rName)
						.success(function(response) {
							if(response.exists) {
								alert('Name already exists, try another!')
							} else {
								$http.get('/newUser?n=' + user.rName + '&p=' + user.pwd1)
									.success(function(response) {
										alert(user.rName + ' registered.')
									})
							}
						});

				}
			} else {
				alert("Passwords don't match, try again!")
			}
		}

		//$rootScope.viewName = "login.html";

		$scope.newView = function(viewName) {
			if(viewName == 'board.html') {
				//$scope.refreshRecentGames()
				//console.log('View changed to board, calling longpoll on t'+$rootScope._id)
				$rootScope.longPollTable()		//start longpoll
				
				//console.log(poller)
				
				poller.postMessage({
					reqCommand: 'startBusyThinkersPoll',
					reqData: {
						_id: $rootScope._id
					}
				})
				
				$rootScope.updateSizes()
				
				if($rootScope.wPlayer){
						$scope.drTable("/wtable.html")
				}else{
					$scope.drTable("/btable.html")
				}
			}else{
				if(viewName == 'login.html'){
					
					//forcepop
					
					$http.get('/forcePopTable?t='+$rootScope._id+'&p='+$rootScope.loginName+'&m=user logged out')
					
					
					focusOnLogin()
					 
				}else{
				
				
				if(viewName == 'lobby.html'){
					$http.get('/forcePopTable?t='+$rootScope._id+'&p='+$rootScope.loginName+'&m=user went to lobby')
				}
				
				
				
			}
			}
		}
		
		$scope.drTable = function(viewName) {
			$rootScope.draTable = viewName;
		}
		$rootScope.showView = function(viewName) {
			$rootScope.viewName = viewName;

			if(viewName == 'lobby.html'||viewName == 'board.html') {
				$scope.openNow = false
					//$scope.lobbyPollNum=0	
					$rootScope.tempMoveString=""
			
			} else {

				if(viewName == 'login.html') {
				
					$scope.greetUser = ''
					$scope.inOrOut = 'Login'
					$rootScope.loginName = 'someone'
					$scope.loggedIn = false
				}
			}
		}

		$scope.clickedIt = function(clickedField, clickedString) {

			var x = clickedField[0]
			var y = clickedField[1]
			var clickedColor = false
			
		//console.log('testing',$rootScope.table[x][y][5] , $rootScope.tempMoveString.length ,$rootScope.wNext , $rootScope.wPlayer)	
			if((!($rootScope.table[x][y][5] == []) || $rootScope.tempMoveString.length > 0) && $rootScope.wNext == $rootScope.wPlayer) {

				if(clickedString == $rootScope.tempMoveString) {
					$rootScope.table[x][y][8] = false
					$scope.clearHighlights($rootScope.table)
					$scope.showTable()
					$rootScope.tempMoveString = ""
				} else {
					
					if($rootScope.table[x][y][0] > 0 && $rootScope.tempMoveString == "") {
						
						for(var i=0;i<8;i++){
								for (var j=0;j<8;j++){
									$rootScope.table[i][j][15]=false
									
								}}	
						
						
						$rootScope.table[x][y][5].forEach($scope.highLightThem) //5odik elem ahova lephet
						$scope.showTable()
							
					};
					if($rootScope.table[x][y][0] > 0 || 0 < $rootScope.tempMoveString.length) {

						$rootScope.tempMoveString += clickedString

						if($rootScope.tempMoveString.length < 3) {
							$rootScope.table[x][y][8] = true;
						}

					}
					if($rootScope.tempMoveString.length > 3) {

						if($rootScope.table[x][y][9] == true) {

							$scope.makeAMove($rootScope.tempMoveString)
							$rootScope.wNext = !$rootScope.wNext

							$rootScope.tempMoveString = ""

						} else {
							$rootScope.tempMoveString = $rootScope.tempMoveString[0] + $rootScope.tempMoveString[1]
						}

					}
					$scope.showTable()

				}
			}
		}
		$scope.highLightThem = function(arrayOfCoords) {
			$rootScope.table[arrayOfCoords[0]][arrayOfCoords[1]][9] = true;
		}

		$scope.clearHighlights = function(onTable) {
			for(var i = 0; i < 8; i++) {
				for(var j = 0; j < 8; j++) {
					onTable[i][j][8] = false;
					onTable[i][j][9] = false;

				}
			}
		}
		$scope.sendChat= function (){
			
			$http.get('/chat?t='+$rootScope._id+'&c='+$rootScope.loginName+": "+$scope.sendThis)
				
					
					
	
			$scope.sendThis=""
			
		}
		
		
		
		$rootScope.updateSizes()
		console.log('appcontr ran')
		
		if(!$rootScope.ran) {
		
			$rootScope.ran=true
			$rootScope.showView('login.html')
		
		}
		
		
		
		
	}
	
	
	
	function focusOnLogin() {
	
	window.setTimeout(function(){
		 document.getElementById("inputLoginUser").focus();
	},500)	
    // document.getElementById("inputLoginUser").focus();
	
	
	
}
	
	// $scope.firstView=function(){
	// 	showView('login.html')
	// }
	
	
	
	</script>
	
	
</head>

<body ng-app="appModule" ng-controller="ApplicationController">


	
	<nav width=100% class="navvv">
		<table>
			<tr>
				<td nowrap align="left">
		<a href="#" ng-click="showView('login.html')" ng-class="{ selected: viewName == 'login.html' }">{{inOrOut}}</a>
		<a href="#" ng-click="showView('lobby.html')" ng-class="{ selected: viewName == 'lobby.html' }">Lobby</a>
		<a href="#" ng-click="showView('board.html')" ng-class="{ selected: viewName == 'board.html' }">Chessboard</a>
		<!--<a href="#" ng-click="showView('captain.html')" ng-class="{ selected: viewName == 'captain.html' }">Thinkers</a>-->
		</td>
		
		<td nowrap>
			
			<button  style="font-size:12px" ng-click="quickGame()">Instant Game</button>
			
		</td>
		
		<td>
			
			<form ng-if="cookieID==''" ng-submit="setID(thisID)">
				This PC's name:<input id="inputID" ng-model="thisID"></input>
			</form>
			
			
		</td>
		
		
		
		<td nowrap width=100% align="right">{{greetUser}} - {{screenRatio}}</td>
		</tr>
		</table>
	</nav>
	<div id="content" ng-include="viewName" onload="newView(viewName)">

	</div>

</body>

</html>