<head>
	<link rel="stylesheet" type="text/css" href="chess.css">

	<script src="jquery.js"></script>
	<script src="angular.js"></script>
	<script src="brandNewAi.js"></script>
	<script src="js/deepening.js"></script>
	<script src="js/classes.js"></script>



	<script src="engine.js"></script>

	<script>
		var appModule = angular.module("appModule", []);

	function ApplicationController($scope, $http, $interval, $timeout) {



		///////////////////////////	global var defs	/////////////////////////////////

		$scope.heartBeat = 300
		$scope.mv = 0
		$scope.pw = false
		$scope.pollsPending = 0
		
		$scope.speedTestNum=0


		$scope.maxWorkerNum = 8
		$scope.nextWorkerNum = 0


		$scope.workingOnTableNum = 0
		
		
		$scope.toPostSplitMoves = []



		////////////////////////	some worker stuff	//////////////////////////////

		var mainWorker;
		var subWorkers = []


		function checkWorkerSupport() {
			if (typeof(Worker) != 'undefined') return true
			return false
		}

		$scope.workerSupport = checkWorkerSupport()

		if ($scope.workerSupport) {
			$scope.workerSupportMessage = 'HTML5 Web Workers supported.'

		} else {
			$scope.workerSupportMessage = 'No Web Workers support.'
		}


		function ifWorkers(cb, nocb) {
			if ($scope.workerSupport) {
				cb()
			} else {
				$scope.sendMessage($scope.workerSupportMessage)
				nocb()
			}
		}


		var nextSubWorker = function(subWorkers) {
			if ($scope.nextWorkerNum < $scope.maxWorkerNum - 1) {
				$scope.nextWorkerNum++
			} else {
				$scope.nextWorkerNum = 0
			}
			return subWorkers[$scope.nextWorkerNum]
		}



		//////////////////////////	cookie stuff	////////////////////////////////////////////////

		function setCookie(cname, cvalue, exdays) {
			var d = new Date();
			d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
			var expires = "expires=" + d.toUTCString();
			document.cookie = cname + "=" + cvalue + "; " + expires;
		}

		function getCookie(cname) {
			var name = cname + "=";
			var ca = document.cookie.split(';');
			for (var i = 0; i < ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ') c = c.substring(1);
				if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
			}
			return "";
		}


		//init cookie vars

		$scope.cookieID = ""
		$scope.workerSpeed = ""
		$scope.mainThreadSpeed = ""
		$scope.rndID=""


		//load cookies

		$scope.cookieID = getCookie("myID");
		$scope.rndID = getCookie("rndID");
		$scope.mainThreadSpeed = Number(getCookie("mainThreadSpeed"));
		$scope.workerSpeed = Number(getCookie("workerSpeed"));

		if ($scope.workerSpeed == "" || isNaN($scope.workerSpeed)) {

			$scope.workerSpeed = 1 //temp val before first test		//should this be 0????
		} else {
			//$scope.workerSpeed = $scope.cookieID
		}

		if ($scope.cookieID == "") {
			
			if($scope.rndID == ""){
				$scope.rndID = Math.floor(Math.random() * 1000000000000000)
				setCookie("rndID", $scope.rndID, 365)
			}
			
			$scope.sendID=$scope.rndID

			
		} else {
			$scope.sendID = $scope.cookieID
		}

		$scope.setID = function(id) {
			setCookie("myID", id, 365)
			$scope.cookieID = id
			$scope.sendID = id

			//should send some rename info to server!!!!!!!!!!!!!!!!!!!!!


		}
		
		$scope.setWorkerSpeed = function(count, time) {
			
			var tempSpeed=Number(count) / Number(time)
			
			var percDiff=Math.floor(tempSpeed/Number($scope.workerSpeed)*100)
			
			tempSpeed=($scope.workerSpeed+2*tempSpeed)/3		//average of last few
			
			$scope.workerSpeed = tempSpeed
	
			setCookie("workerSpeed", $scope.workerSpeed, 365)
			
			return percDiff
				
		}


		$scope.setSpeedCookies = function() {

			//setCookie("mainThreadSpeed", $scope.mainThreadSpeed, 365);
			$scope.setWorkerSpeed($scope.workerSpeed,1)
			
			

		}





		///////////////////////////////////////// sendMessage stuff	///////////////////////////////////////////////////

		$scope.messages = []

		$scope.sendMessage = function(message) {

			//////console.log(message)

			$scope.messageTheServer({

				'command': 'log',
				'message': message,
				'thinker': $scope.sendID

			})

			$scope.messages.push('@' + new Date()
				.getTime() + ': ' + message)
			if (!$scope.$$phase) {

				$scope.$apply()

			}
			if ($scope.messages.length > 20) $scope.messages.shift()
		}

		$scope.messageTheServer = function(message) {
			$http.post('/thinkerMessage', message, function() {})
				.then(function(result) {

				}, function(data) {
					refreshWhenUp()
				})

		}
		
		
		///////////////////////////////////////////////////////// starting //////////////////////////////////////////////

		$scope.sendMessage('Starting..')

		$scope.resolveWorkedSplitMove = function(depth, tempResolveArray) {

			////console.log('resolving: ',tempResolveArray)
			resolveDepth(depth, tempResolveArray)
				////console.log('resolved: ',tempResolveArray)




		}

		

		subWorkerMsgInThinker = function(event) {
			//check resCommand

			switch (event.data.resCommand) {

				case 'sdtSolved':
				
					/// solved  smalldeepeningtask returned from worker
					
					var resData = event.data.resData
					
					$scope.totalSolved+=resData.ranCount
					
					var toPush = { 
						move: resData.moveTree.slice(0, 4),
						value: resData.score,
						score: resData.score,
						moveTree: resData.moveTree,
						solved: resData.solved,
						_id: $scope.workingOnTableNum, // resData._id,
						depth: resData.desiredDepth,
						thinker: $scope.sendID,
						ranCont: resData.ranCount
					}

					$scope.waitingSdts.push(toPush)
						
					if ($scope.waitingSdts.length == $scope.sentSdtCount) {
						///////////////////////////////////////////////
						//all SDTs returned,
						//resolve one splitmove now:
						//////////////////////////////////////////////////

						//////console.log('resolve now: '+$scope.waitingSdts[0].moveTree)

						var tempResolveArray = []
						tempResolveArray[1] = []
						tempResolveArray[2] = $scope.waitingSdts
						tempResolveArray[3] = []

						resolveDepth(2, tempResolveArray) //some hack to do 2nd level resolved deepmovetask
							//use tempResolveArray[1][0].value

						var pushAgain = tempResolveArray[1][0]
							////console.log('ran again')

						pushAgain._id = $scope.workingOnTableNum
						pushAgain.score = pushAgain.value
						pushAgain.thinker = $scope.sendID
						pushAgain.move = pushAgain.moveTree.slice(0, 4)


						$scope.toPostSplitMoves.push(pushAgain)

						if ($scope.totalSplitMovesReceived - $scope.toPostSplitMoves.length == 0) {
							//we worked out all the splitmoves

							var postThis = $scope.toPostSplitMoves

							postThis[0]._id = $scope.workingOnTableNum
							
							
							$scope.workingOnTableNum = 0 //available again
							$scope.toPostSplitMoves = []
							$scope.waitingSdts = []
							
							var timeNow=new Date().getTime()
							var timeItTook2 = timeNow - $scope.initialWorkerSpeedTestStarted
							var timeItTook3 = timeNow - $scope.solvingStarted
							

							//var tempSpd
							var percDiff// = $scope.setWorkerSpeed($scope.totalSolved, timeItTook2)
							

							if ($scope.initialSpeedTestOn) {
								$scope.initialSpeedTestOn = false
								
								/////////////////initial speedTest finished
								$scope.speedTestNum=Math.random()
								
								percDiff = $scope.setWorkerSpeed($scope.totalSolved, timeItTook2)
							
								
								$scope.sendMessage('workers t/ms: ' + Math.floor(($scope.totalSolved/ timeItTook2) * 100) / 100 + ' (' +percDiff + '%, '+ $scope.totalSolved + ' / '+timeItTook2+')')
									
									
									//should do the rest of the speedTests here!!!!!!!
									
									
								longPollTasks() //start initial longpoll

							} else {
								
								/////////////////splitMove(s) finished
								
								
							
								$http.post('/myPartIsDone', postThis, function(req, res) {
								
									
								
								})
								
								percDiff = $scope.setWorkerSpeed($scope.totalSolved, timeItTook3)
							
								$scope.sendMessage('solved, t/ms: ' + Math.floor(($scope.totalSolved/ timeItTook3) * 100) / 100 + ' (' +percDiff + '%, '+ $scope.totalSolved + ' / '+timeItTook3+')')
								
							}

							$scope.totalSolved=0

						} else {
							//still moves to work on
							
							mwProcessDeepSplitMoves($scope.splitMovesToProcess, $scope.sendID, $scope.ranCount)


						}
					}


					//////console.log(event.data.resData)

					break;

				case 'reEcho':


					$scope.pendingEchoes--

						////////console.log($scope.pendingSpeedTest)
						if ($scope.pendingEchoes == 0) {
							$scope.pendingEchoTests--
								if ($scope.pendingEchoTests == 0) {

									var timeNow = new Date()
										.getTime()
									var timeItTook = timeNow - $scope.echoTestStarted

									if ($scope.initialEchoesOn) {

										$scope.initialEchoesOn = false

										var messageTxt = 'init echoTest done in ' + timeItTook + 'ms, running speedTest'
										$scope.sendMessage(messageTxt)

										//var initDeepSpeedTeststarted=new Date().getTime();

										$scope.initialWorkerSpeedTestStarted = new Date().getTime()

										$scope.totalSolved = 0

										var level = 2

										$scope.initialSpeedTestOn = true

										var tempDbTable = new Dbtable(1, 2, 3)

										var tempMoveTask = new MoveTask(tempDbTable)

										var tempMoveTasks = tempMoveTask.movesToSend

										////console.log('init movesToSend',tempMoveTasks)



										var splitMoveCount = tempMoveTasks.length
										$scope.totalSplitMovesReceived = splitMoveCount //we need this to know when we worked them all out

										$scope.splitMovesToProcess = tempMoveTasks

										mwProcessDeepSplitMoves($scope.splitMovesToProcess, $scope.sendID, $scope.ranCount)		//initial speedtest call!!!
										
													//this will take the 1st move from the array, split it and send it to workes
													//receiving all the results will trigger the same func to run again until $scope.splitMovesToProcess is empty
																
																
																

										//var resSpeedTest = speedTest(level, false) //depth, no workers      
										//var speedTestTime = resSpeedTest.time 


										//$scope.sendMessage('init mainThread deepSpeedTest (level ' + level + ') done: ' + resSpeedTest.solved + ' tables in ' + resSpeedTest.timeItTook + 'ms. aiMove: ' + resSpeedTest.winningMove + ', value: ' + resSpeedTest.winningValue)
										//$scope.mainThreadSpeed = 1000 / resSpeedTest.timeItTook //we should use this!!!!!!!!!

										//var mainThreadSpeed = (Number($scope.mainThreadSpeed) + 0.2 * Number(splitMoveCount / (timeItTook / 1000))) / 1.2 //this should keep the last 6 average

										//////console.log($scope.mainThreadSpeed)

										///save it in cookie
										//$scope.setSpeedCookies() //

										//$scope.sendMessage('Up and running!')




									} else {
										var messageTxt = 'echoTest done: ' + timeItTook + 'ms.'
										$scope.sendMessage(messageTxt)
									}

									$scope.echoesOn = false

								} else {
									//one echotest done, recall (always do 2 and use only 2nd for results)

									sendEchoes()
								}

						}


					break; //end of 'reEcho'

			}




		};




		//startWorkers()




		//$scope.pendingEchoTests = 0

		function echoTest() {

			ifWorkers(function() {
				////////console.log('callback lefut')
				$scope.pendingEchoTests = 2
				sendEchoes()

			})

		}

		function sendEchoes(firstRun) {
			//if(!$scope.echoesOn){
			// $scope.echoesOn=true
			$scope.pendingEchoes = $scope.maxWorkerNum
			$scope.echoTestStarted = new Date()
				.getTime()
			for (var i = 0; i < $scope.maxWorkerNum; i++) {
				//$scope.pendingEchoes++
				subWorkers[i].postMessage({
					reqMessgage: 'echo',
					reqCommand: 'echo',
					reqData: {
						worker: i
					}
				})
			}

		}

		function startWorkers() {
			//if(typeof(Worker) !== "undefined") {

			// $scope.workersSupported='Your browser supports HTML5 Web mainWorker.'

			if (typeof(mainWorker) == "undefined") {
				$scope.sendMessage('starting mainWorker..')
					////////console.log('starting mainWorker..')
				mainWorker = new Worker("aiworker.js");
			} else {
				$scope.sendMessage('!!! tried to start already running main worker !!!')
			}

			//temp   mainWorker.onmessage = mainWorkerMsgInThinker

			//subworker listener:
			//subWorkers[subWorkerNo].onmessage = subWorkerMsgInThinker

			$scope.sendMessage("mainWorker should be running, starting subWorkers..")

			var workerToStrart = 0
				//$scope.sendMessage("subWorkers started: 0")
			while (workerToStrart < $scope.maxWorkerNum) {

				subWorkers[workerToStrart] = new Worker("aiworker.js");


				//put subworkers listeners here
				var subWorkerNo = workerToStrart
				subWorkers[subWorkerNo].onmessage = subWorkerMsgInThinker

				workerToStrart++

				//$scope.changeLastMessage("subWorkers started: " + workerToStrart)


			}

			$scope.sendMessage('subWorkers should be up and running, running initial echoTests..')



			//here we have all workers running

			$scope.initialEchoesOn = true
			echoTest() //true for initial


		}



		function stopWorkers() {
			mainWorker.terminate();
			mainWorker = undefined;

			for (var i = 0; i < $scope.maxWorkerNum; i++) {

				subWorkers[i].terminate();
				subWorkers[i] = undefined;

			}

		}



		ifWorkers(startWorkers)


		///////////////workers end
		function learnerLooped(pastTables) {
			var x = countInArray(pastTables[pastTables.length - 1], pastTables)
			var y = countInArray(pastTables[pastTables.length - 2], pastTables)

			if (x == 3 || y == 3) {
				return true
			} else {
				return false
			}
			//	
		}

		var evaledGame = function(data) {

			// //////console.log(data)
			var moves = data.moves

			$http.get('aiOn?t=' + data._id)

			var myGame = new Dbtable(data._id, data.wName, data.bName)

			moves.forEach(function(moveFromDb) {

				var moveStr = moveFromDb.slice(2, 6) //levagni a kepeket...	(mi ut mit)
					//////////////////////
					///replace this!!!
				var toPush = getPushString(myGame.table, moveStr) //piece

				+new String(new Date()
					.getTime())

				// if(!(toPush==myGame.moves[myGame.moves.length-1])){
				myGame.moves.push(toPush)

				myGame.table = moveIt(moveStr, myGame.table) //	<----moves it

				//$scope.showTable(myGame.table)

				myGame.wNext = !myGame.wNext

				myGame.pollNum++

					//myGame.moved = new Date().getTime()

					myGame.table = addMovesToTable(myGame.table, myGame.wNext, true) //true stands for pawn and king only: allpasttables only

				//remember this state for 3fold rule
				var sendThis = createState(myGame.table)


				myGame.allPastTables.push(sendThis)

				//$scope.whatToDo = 'idle'

				//$scope.sendMessage('move '+moveStr+' processed.')

				/////////////////////////


			})
			evalGame(myGame, true)


			if (learnerLooped(myGame.allPastTables)) myGame.isDraw = true

			$scope.sendMessage('table ' + myGame._id + ' processed. (eval)')

			return myGame

		}

		///////
		$scope.pollOn = true
			//$scope.messages = []
		$scope.succeeded = 0


		$scope.refreshWhenUp = function() {

			$http.get('/forceStop?t=' + $scope._id)
				.then(function(response) {
					$scope.setSpeedCookies()
					$scope.succeeded++
						//$scope.sendMessage('connection came back, will restart soon..')
						$scope.receivedMessage = 'restart in 10s'
					if ($scope.succeeded > 3) { //server must be running
						$scope.succeeded = 0
						$scope.sendMessage('refreshing window..')
						window.location.reload(true); //$scope.sendMessage('looped, forceStop sent')
					} else {

						$timeout($scope.refreshWhenUp(), 3000)
					}


				}, function(data) {
					$scope.receivedMessage = 'connection error, 3s retry'
					$scope.succeeded = 0
					$timeout($scope.refreshWhenUp(), 3000)
				})
		}



		////////////some learning


		$scope.learnerPair = function(modType, modVal, scndGame) {

			//var _id = 0




			var initedTable = {}

			var wModded = true
			if (scndGame) wModded = false



			if (wModded) { //this tells us if wmodded
				//firstFreeTable=$scope.start("mod lpV:" + modVal, "standard")._id
				initedTable = new Dbtable(1, modType + " mod: " + modVal, "standard")
			} else {
				//firstFreeTable=$scope.start( "standard", "mod lpV:" + modVal)._id
				initedTable = new Dbtable(1, "standard", modType + " mod: " + modVal)


			}

			initedTable.learnerGame = true
			initedTable.learnedOn = $scope.sendID

			//////console.log('finding _id for ' + initedTable.wName + " vs " + initedTable.bName)

			$http.get('/startGame?w=' + initedTable.wName + "&b=" + initedTable.bName)
				.then(function(response) {

					//////console.log('_id received: ' + response.data._id)
					initedTable._id = response.data._id

					$scope.sendMessage('learning ' + modType + ' on t' + initedTable._id + ", wModded: " + wModded)
						//var initedTable = []



					//$scope.myGame = initedTable			//kell ez????




					//$scope.showTable($scope.myGame.table)

					////////console.log("started, let's move")

					//$scope.whatToDo = 'idle'
					////////console.log('Table should be in DB, start soon..')
					var modConst = getMcFromMv(modVal)

					$http.get('/learnerPoll?n=' + $scope.sendID +
						'&t=' + initedTable._id +
						'&mt=' + modType +
						'&mv=' + modVal + '&p=' + modConst + '&a=' + $scope.mainThreadSpeed
						// +  '&r=' + Math.random()
					)

					initedTable.modConst = modConst

					$scope.playgame(initedTable, modType, modVal, true, wModded) //true stands for wNext
				}, function(data) {
					$scope.headMessage = 'Connection error, refreshing'

					$scope.refreshWhenUp()

				})

			//if (_id>0)return _id

		}


		///////more
		$scope.playgame = function(myGame, mt, mv, wNx, wMod) {

			if ($scope.learning) {
				$scope.playgame2(myGame, mt, mv, wNx, wMod)
			}
		}
		$scope.playgame2 = function(myGame, mt, modVal, wNx, wMod) {
			//$scope.whatToDo = 'busy'
			//////console.log('thinking of some move..')
			var result = []

			//  if($scope.learning){
			var modConst = getMcFromMv(modVal) //we don't need this at every move!!!!!!



			//////console.log('modVal: ' + modVal + ', modConst: ' + modConst)

			if (wNx == wMod) {
				result = newAi(myGame, mt, modConst, $scope.sendID) //get modded result   //dont need $scope.sendID!!!!
			} else {
				result = newAi(myGame)
			}


			//   }else{
			//kikapcs

			//  }
			//$scope.moveTook = result[0][2] //timeItTook
			// $scope.totalTook= Number($scope.totalTook) + Number(result[0][2])
			// $scope.moveCount++
			// $scope.avgTime=60000/($scope.totalTook/$scope.moveCount) //avg moves per minute

			if (result[0][6]) {
				//looped
				myGame.gameIsOn = false //looped
				evalGame(myGame, true)
				myGame.looped = true
					// myGame.pollNum++

				$http.post('/moved', myGame, function(req, res) {})


				$http.get('/forceStop?t=' + $scope._id)
					.then(function(response) {
						//////console.log('looped, forceStop sent')
					}, function(data) {
						$scope.headMessage = 'Connection error, refreshing'

						$scope.refreshWhenUp()

					})
			}
			//		ai	<------------

			if (result.length > 1) { //if there are any moves

				var aiMoveString = result[1].move // the winning movestring

				var toConsole = [] //to chat?


				// for (var i = 1; i < result.length; i++) {

				//     toConsole[i] = 'found move:' + result[i][0] + ' RMv:' + result[i][2] + ',' + 'Val:' + result[i][1] + 'a' //+

				// }


				$scope.whatToDo = 'idle'
			} else { //can't move

				//eval
				//////console.log('will run into eval bit - someone won!')

				myGame.gameIsOn = false
				evalGame(myGame, true)


			}

			//////console.log(' DONE. ')

			if (myGame.gameIsOn) {
				//////console.log('Will move ' + aiMoveString)

				moveInTable(aiMoveString, myGame, true) //true means learnerGame,no need to eval within moveintable


				///replace this!!!
				// var toPush = String(myGame.table[dletters.indexOf(aiMoveString[0])][aiMoveString[1] - 1][0]) + //color of whats moving
				// 	myGame.table[dletters.indexOf(aiMoveString[0])][aiMoveString[1] - 1][1] + //piece
				// 	aiMoveString + //the string
				// 	myGame.table[dletters.indexOf(aiMoveString[2])][aiMoveString[3] - 1][0] + //color of whats hit
				// 	myGame.table[dletters.indexOf(aiMoveString[2])][aiMoveString[3] - 1][1] //piece

				// +new String(new Date().getTime())

				// // if(!(toPush==myGame.moves[myGame.moves.length-1])){
				// myGame.moves.push(toPush)

				// myGame.table = moveIt(aiMoveString, myGame.table)
				// $scope.showTable(myGame.table)

				// myGame.wNext = !myGame.wNext

				// myGame.pollNum++

				// myGame.moved = new Date().getTime()

				// myGame.table = addMovesToTable(myGame.table, myGame.wNext)

				// //remember this state for 3fold rule

				// myGame.allPastTables.push(createState(myGame.table))

				// $scope.whatToDo = 'idle'

				//}
			} else {
				//////console.log('Game finished on table ' + myGame._id + ', evaluating..')
				evalGame(myGame, true)

				// myGame.learnerStats={
				//     modType: mt,
				//     modVal: modVal,
				//     modConst: modConst

				// }

				//////console.log(myGame)

				myGame.pollNum++

					//post it here

					$http.post('/moved', myGame, function(req, res) {})



			}
			// 	
			//if($scope.learning){


			if (myGame.pollNum / 15 == Math.floor(myGame.pollNum / 15)) {
				$http.post('/moved', myGame, function(req, res) {})

				//  var myColTxt='white'
				//  if(myGame.cfColor)



				$scope.sendMessage('playing on t' + myGame._id + ', p' + myGame.pollNum)

				//temp:

				//myGame.gameIsOn=false

			}

			if (myGame.pollNum / 250 == Math.floor(myGame.pollNum / 250)) { // !!!!!!!!!
				//$http.post('/moved',myGame,function(req,res){})

				//temp:
				var tableTotal = getTableTotal(myGame.table)



				if ($scope.lastTotal == tableTotal) {
					myGame.gameIsOn = false
					evalGame(myGame, true)
					myGame.gameIsOn = false
				} else {
					$scope.lastTotal = tableTotal
				}

			}




			if (myGame.gameIsOn) {

				$timeout(function() {
					$scope.playgame(myGame, mt, modVal, !wNx, wMod)

				}, 100)



			} else {

				//not calling this function anymore, should recall with opposit color just once
				//////console.log('eval2 bit')

				if (wMod) {
					////////console.log('Starting rematch (play black)')
					$scope.sendMessage('Starting rematch (play black)')
					$timeout($scope.learnerPair(mt, modVal, true), 500)
				} else {
					////////console.log('gamepair done, starting again with white')
					$scope.sendMessage('gamepair done, starting again with white')
					$timeout($scope.startGamePair(), 500)




				}

			}

		}




		////////////some learning


		function getTableTotal(table) {
			var tt = 0
			for (var i = 0; i < 8; i++) {
				for (var j = 0; j < 8; j++) {
					tt += table[i][j][1]
				}
			}
			return tt
		}

		$scope.startGamePair = function() {
			if ($scope.learning) {
				$http.get('/getModTypes')
					.then(function(response) {

						var modType = ""

						var modTypes = response.data.modTypes
						var len = modTypes.length
						if (len > 0) {
							modType = modTypes[Math.floor(Math.random() * len)]
						}

						var modVal = Number(response.data.min) + (Math.random() * (response.data.max - response.data.min))

						$scope.mv = modVal
						$scope.mt = modType

						$scope.sendMessage('start learning...')
						$scope.learnerPair(modType, modVal) //this will call another game with black when done
					}, function(data) {
						//error, retry
						$scope.receivedMessage = 'error getting modTypes'
						$scope.refreshWhenUp() //retry kene?
					})

			}
		}

		$scope.doTask = function(task) {
			//where the magic happens

			switch (task.command) {

				case undefined:

					break;

				case "echoTest":

					if (!$scope.echoesOn) {
						$scope.echoesOn = true
							//$scope.sendMessage('Echotest started...')
						echoTest()
					} else {
						$scope.sendMessage('cannot start, echotest is already on...')
					}
					break;

				case "learnStart":
					if (!$scope.learning) {

						$scope.learning = true
						$scope.startGamePair()


					} else {
						$scope.sendMessage('learnStart: already learning..')
					}
					//$scope.learnerPair()

					break;


				case "learnStop":
					if ($scope.learning) {
						$scope.learning = false
							//  $scope.startGamePair()

						$scope.sendMessage('Learning stopped.')
					} else {
						$scope.sendMessage("learnStop: wasn't learning..")
					}

					//$scope.learnerPair()

					break;



				case "refresh":

					//////console.log(task.message)
					$scope.refreshWhenUp()
					$scope.pollOn = false


					break;

				case "splitMove":

					//for speed testing:

					$scope.solvingStarted = new Date()
						.getTime()

					$scope.totalSolved = 0




					if (task.data[0] != undefined) {
						//we received some moves


						if ($scope.workingOnTableNum == 0) {
							//thinker is idle
							//mark it busy
							
							$scope.workingOnTableNum = task.data[0]._id


							ifWorkers(function() {
								//workers supported, let's calc 




								//var splitMoveCount = task.data.length	//kell ez???
								
								$scope.totalSplitMovesReceived = task.data.length //we need this to know when we worked them all out

								$scope.splitMovesToProcess = task.data


								mwProcessDeepSplitMoves($scope.splitMovesToProcess, $scope.sendID)			//starting to process splitmove from server
								
									
													//this will take the 1st move from the $scope.splitMovesToProcess array, split it further and send it out to workes
													//receiving all the results will trigger the same func to run again until $scope.splitMovesToProcess is empty
																
																
																
								
								

								

							}, function() {
								//no workerSupport
								//do main thread calc


										//check this!!!!!!!!!!!!!!!!!!!!!!!

								var splitMoveCount = task.data.length
								$scope.totalSplitMovesReceived = splitMoveCount //we need this to know when we worked them all out		//do we???!!!!!!!!!!!!!!!!!!!!

								$scope.splitMovesToProcess = task.data


								var postThis = mtProcessDeepSplitMoves($scope.splitMovesToProcess, $scope.sendID) //this will run on the workers

								$http.post('/myPartIsDone', postThis, function(req, res) {



								})

							})
						} else {
							//thinker is already calculating something
							
							$scope.sendMessage('thinker is busy')



						}

					} else {
						//error in receiving task



					}
					// })
					// var timeItTook = (new Date()
					// 	.getTime() - $scope.solvingStarted)



					//should use all speedtests!!!!!!!!
					//$scope.mainThreadSpeed = (Number($scope.mainThreadSpeed) + 0.2 * Number(splitMoveCount / (timeItTook / 1000))) / 1.2 //this should keep the last 6 average


					///save it in cookie

					//$scope.setSpeedCookies() //

					break;


				case "move":


					var postThis = dbAi(task.data) ///!!!! egesz dbtable lesz postolva

					$http.post('/moved', postThis, function(req, res) {

					})

					// $scope.pleasePlay=false


					break;

				case "evalGame":
					////////console.log('t'+task.data._id+' eval received')
					var postThis = evaledGame(task.data)
						//////console.log('tnum,pollnum,wwon,bwon,isdraw: ', postThis._id, postThis.pollNum, postThis.whiteWon, postThis.blackWon, postThis.isDraw)
					$http.post('/evaledGame', postThis, function(req, res) {
							$scope.sendMessage('t' + postThis._id + ' posted.')
						})
						//should ping
					break;

			}


		}




		//////////////////////////////////////////////worker move////////////////////////////////////////////////

		function mwProcessDeepSplitMoves(data, thinker){//mt, modConst, looped) {


			//var rtnData = []

			if (data.length > 0) {

				var newData = data.pop()

				workerMove(newData, thinker)


			}
			//return rtnData
		}
		
		
		
		
		function workerMove(smallMoveTask, thinker) { //for 1 thread, smallmovetask has one of my possible 1st moves

			$scope.workDeepSplitMovesStarted = new Date()
				.getTime()

			// var solvedTableCount = 0

			// var value = 0

			var deepeningTask = new DeepeningTask(smallMoveTask)

			oneDeeper(deepeningTask) //this will make about 30 smalldeepeningtasks and create the resolverarray in the deepeningtask
				//first iitem in deepeningtask.smalldeepeningtasks is trigger

			$scope.waitingSdts = []
			$scope.sentSdtCount = deepeningTask.smallDeepeningTasks.length - 1

			while (deepeningTask.smallDeepeningTasks.length > 1) {

				var smallDeepeningTask = deepeningTask.smallDeepeningTasks.pop()

				sendToWorker('solveSdt',smallDeepeningTask)

			}

		}
		

		function sendToWorker(command,data) {

			nextSubWorker(subWorkers).postMessage({
				//reqMessgage: message,
				reqCommand: command,			//string
				reqData: data
			})


		}





		//	




		//////////end//////////////////////////////////////////////worker move////////////////////////////////////////////////


		//
		/////////longpoll tasks stuff

		$scope.taskNum = 0

		var longPollTasks = function() {
			////console.log($scope.workerSpeed)

			$http.get('/longPollTasks?id=' + $scope.sendID + '&tn=' + $scope.taskNum + '&spd=' + $scope.workerSpeed + '&stn=' + $scope.speedTestNum)
				.then(function(response) {

					// 1 task received

					$scope.taskNum = response.data.taskNum

					$scope.receivedMessage = response.data.message //display Heading

					//$scope.sendMessage('task #' + response.data.taskNum + ' received, ' + response.data.command + ': ' + response.data.message)

					$scope.doTask(response.data)


					//  if($scope.idle){
					if ($scope.pollOn) longPollTasks() //recall for new task, server might hold any new task until this one finishes
						//}
				}, function(data) {
					//error, retry
					$scope.receivedMessage = 'error'
					$scope.refreshWhenUp() //retry kene?
				})

		}


		// longPollTasks() //start initial longpoll




		/////////longpoll tasks stuff end




	}
	appModule.controller("ApplicationController", ApplicationController);
	</script>
</head>

<body ng-app="appModule" ng-controller="ApplicationController">

	<form ng-if="cookieID==''" ng-submit="setID(thisID)">
		<input id="inputID" ng-model="thisID"></input>
	</form>

	<p>{{receivedMessage}}
	</p>
	<div ng-if="speedTestOn">Speedtest in progress..</div>
	<div>{{workerSupportMessage}}</div>
	<div>{{pendingEchoes}}</div>
	<br>

	<div>Main thread speed: {{mainThreadSpeed}}</div>
	<div ng-if="workerSupport">Workers speed (max {{maxWorkerNum}}): {{workersSpeed}}</div>
	<div ng-if="workerSupport">Threaded calculating is {{faster}} faster.</div>


	<p>
		<!--Totals:
		{{totalTaskCount}} tasks done in {{totalTasksTime}} milliseconds.
		
		{{readyToPlay}}
		{{pleasePlay}}
		{{myGame.pollNum}}
		-->
	</p>

	<div style="font-size:10px" ng-repeat="x in messages track by $index">
		{{x}}
	</div>




</body>